.crop-container {
    position: absolute;
    left: calc((100vw - 300px) / 2);
    top: calc((100vh - 300px) / 2);
    width: 300px;
    height: 300px;
    display: none;
}
.browse-button {
    cursor: pointer;
  background-color: rgb(82, 82, 82);
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}